<% include partials/header %>
<!--
<form class="" action="" method="get">
  <input type="hidden" name="page" value="<%= pagination.page %>">
  <table style="width:100%;">
    <tr>
      <td>
        <input type="checkbox" name="cid" value="true"<%= query.cid ? ' checked' : '' %>>
      </td>
      <td>
        <label for="id">ID</label>
      </td>
      <td>
        <input id="id" class="form-control" type="text" name="id" value="<%= query.id %>" placeholder="Masukkan ID yang dicari">
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="cstring" value="true"<%= query.cstring ? ' checked' : '' %>>
      </td>
      <td>
        <label for="string">String</label>
      </td>
      <td>
        <input id="string" class="form-control" type="text" name="string" value="<%= query.string %>" placeholder="Inputan berupa String">
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="cinteger" value="true"<%= query.cinteger ? ' checked' : '' %>>
      </td>
      <td>
        <label for="integer">Integer</label>
      </td>
      <td>
        <input id="integer" class="form-control" type="text" name="integer" value="<%= query.integer %>" placeholder="Integer">
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="cfloat" value="true"<%= query.cfloat ? ' checked' : '' %>>
      </td>
      <td>
        <label for="float">Float</label>
      </td>
      <td>
        <input id="float" class="form-control" type="text" name="float" value="<%= query.float %>" placeholder="Float">
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="cdate" value="true"<%= query.cdate ? ' checked' : '' %>>
      </td>
      <td>
        <label for="date">Date</label>
      </td>
      <td>
        <table style="width:100%;">
          <tr>
            <td>
              <input id="startdate" class="form-control" type="date" name="startdate" value="<%= query.startdate %>" placeholder="Start Date">
            </td>
            <td>&nbsp;to&nbsp;</td>
            <td>
              <input id="enddate" class="form-control" type="date" name="enddate" value="<%= query.enddate %>" placeholder="End Date">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="cboolean" value="true"<%= query.cboolean ? ' checked' : '' %>>
      </td>
      <td>
        <label for="boolean">Boolean</label>
      </td>
      <td>
        <select id="boolean" class="form-control" name="boolean">
          <option value=""<%= query.boolean == "" ? ' selected' : '' %>>Choose the boolean....</option>
          <option value="true"<%= query.boolean == "true" ? ' selected' : '' %>>True</option>
          <option value="false"<%= query.boolean == "false" ? ' selected' : '' %>>False</option>
        </select>
      </td>
    </tr>
  </table>
  <button type="submit" name="search" class="btn btn-primary">Search</button>
  <a href="/" class="btn btn-warning">Reset</a>
</form> -->
<% include partials/footer %>
