<% include template/header %>
<% include template/menu %>


<!-- Form Pencarian -->
<div class="container">
	<div class="row">
  <div class="table-responsive" style="background-color:white; padding: 10px;">
    <form action="" method="GET">
			<input type="hidden" name="page" value="<%= halaman %>">
     <table id="mytable" class="table table-bordred table-striped">
       <tr>
         <td style="text-align: left;"><input name="idChecked" value="true" type="checkbox" onchange="document.getElementById('id').disabled=!this.checked;"<%= (query.idChecked) ? " checked":"" %>> ID</td>
         <td><input  class="form-control" id="id" name="id" value="<%= query.id %>"<%= (query.idChecked) ? "":" disabled" %>/></td>
       </tr>

      <tr>
        <td style="text-align: left;"><input name="namaChecked" value="true" type="checkbox" onchange="document.getElementById('string').disabled=!this.checked;"<%= (query.namaChecked) ? " checked":"" %>> Nama</td>
        <td><input  class="form-control" name="string" id="string" value="<%= query.string %>"<%= (query.namaChecked) ? "":" disabled"%>  /></td>
      </tr>

      <tr>
        <td style="text-align: left;"> <input name="umurChecked" type="checkbox" onchange="document.getElementById('integer').disabled=!this.checked;"<%= (query.umurChecked) ? " checked":"" %>> Umur</td>
        <td><input  class="form-control" name="integer" id="integer" value="<%= query.integer %>"<%= (query.umurChecked) ? "":" disabled"%>  /></td>
      </tr>

      <tr>
        <td style="text-align: left;"><input name="tinggiChecked" type="checkbox" onchange="document.getElementById('float').disabled=!this.checked;"<%= (query.tinggiChecked) ? " checked":"" %>> Tinggi</td>
        <td><input  class="form-control" name="float" id="float" value="<%= query.float %>"<%= (query.tinggiChecked) ? "":" disabled" %> /></td>
      </tr>

      <tr>
        <td style="text-align: left;"><input name="dateChecked" type="checkbox" onchange="document.getElementById('end_date').disabled=!this.checked; document.getElementById('start_date').disabled=!this.checked;"<%= (query.dateChecked) ? " checked":"" %>> Tanggal Lahir</td>
        <td><input  class="form-control date" name="start_date" type="date" id="start_date" value="<%= query.start_date %>"<%= (query.dateChecked) ? "":" disabled" %> />
				to
        <input  class="form-control date" name="end_date" id="end_date" type="date"  value="<%= query.end_date %>"<%= (query.dateChecked) ? "":" disabled" %> /></td>
      </tr>

      <tr>
        <td style="text-align: left;"> <input name="statusChecked" type="checkbox" onchange="document.getElementById('boolean').disabled=!this.checked;"<%= (query.statusChecked) ? " checked":"" %>> Status</td>
        <td>
          <select class="form-control" name="boolean" id="boolean" <%= (query.statusChecked) ? "":" disabled" %>>
            <option value="True"<%= (query.boolean == "True") ? " selected":"" %>>True</option>
            <option value="False"<%= (query.boolean == "False") ? " selected":"" %>>False</option>
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="3" style="padding:30px 0px 0px 0px;"><button class="btn btn-default pull-left" type="submit" name="cari">CARI</button> <a href="/" class="btn btn-warning pull-left">RESET</a></td>
      </tr>
    </table>
  </form>
	</div>
</div>
</div>

<!-- pembatas -->
<section>
	<hr>
</section>


<!-- Hasil Pencarian -->
<div class="container">
	<div class="row">
  <div class="table-responsive" style="background-color:white; padding: 10px;">
     <table id="mytable" class="table table-bordred table-striped">
       <thead>
         <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>Tinggi</th>
            <th>Tanggal Lahir</th>
            <th>Status</th>
            <th colspan="2"  >ACTION</th>
          </tr>
      </thead>

      <tbody>
        <% if(data.length == 0){ %>
					 <td colspan="8">Data  kosong</td>
				<%}
          for (let i=0; i<data.length; i++)
            {%>
              <tr>
                <td>  <%= data[i].id    %></td>
                <td>  <%= data[i].nama    %></td>
                <td>  <%= data[i].umur    %></td>
                <td>  <%= data[i].tinggi  %></td>
                <td>  <%= data[i].tanggal_lahir     %></td>
                <td>  <%= data[i].status %></td>
                <td>  <a class="btn btn-success" href="/edit/<%= data[i].id %>">Edit</a></td>
                <td>
                  <a  class="btn btn-danger" href="/delete/<%= data[i].id %>" class='delete'
                  onclick="return confirm('Yakin menghapusn data?')">Delete</a>
                </td>
              </tr>
      <% } %>
      </tbody>
    </table>
</div>
</div>
</div>

<!-- pagination -->
<div class="container">
	<div class="row">
		<div class="col 12">
			<ul class="pagination pull-right" style="padding-bottom:10px;">
				<% if(halaman>1){ %>
						<li><a href="<%= url.replace(`/?page=${halaman}`,`/?page=${halaman-1}`) %>">Prev</a></li>
					<%}%>
				<% for(let i=1; i<=jumlahHalaman; i++){  %>
							<li<%= (halaman==i) ? " class=active" : "" %> ><a href="<%= url.replace(`/?page=${halaman}`,`/?page=${i}`) %>"><%=i%></a></li>
					<% }%>
					<% if(halaman<jumlahHalaman){ %>
							<li><a href="<%= url.replace(`/?page=${halaman}`,`/?page=${halaman+1}`) %>">Next</a></li>
						<%}%>
			</ul>
		</div>
	</div>
</div>

<!-- pembatas -->
<section>
	<hr>
</section>


</body>
</html>


<% include template/footer %>
